.header {
    height: 100px;
    background-color: lightgray;
    
}
.header_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
}
.logo-container{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-container:hover .logo{
    transform: scale(1.2);
    transition: 0.3s;
}
.logotext{
    padding-left: 20px;
    font-size: 40px;
    color: black;
}
.link{
    text-decoration: none;
}