.category_icon {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 50%;
    border: 2px solid lightblue;
    transition: 0.3s;
}.add-class{
    opacity: 0.5;
}
.category {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 30px 100px;
}
.category:hover .category_icon{
    border-color: blue;
    transition: 0.3s;
}
.deleteclass {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
}
.show{
    display: block;
}